body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.85;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;


    /*
        fixed == paralax
        scroll == normal
    */

    background-attachment: fixed;
}

.pimg1 {
    background-image: url('../../images/picturemain.jpeg');
    min-height: 100%;
}

.pimg2 {
    background-image: url('../../images/picturetwo.jpeg');
    min-height: 50%;
}

.pimg3 {
    background-image: url('../../images/picturethree.jpeg');
    min-height: 72.3%;
}

.section {
    text-align: center;
    padding: 50px 80px 80px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666; 
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.loginRegister {
    margin-top: 1.6em;
    justify-content: center;
    text-align: center;
    color: black;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.ptext .border.trans {
    background-color: transparent;
}

.footer {
    padding: 60px 0;
    background: #111112;
  }
  .footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .footer .social {
    color: black;
  }
  .footer li, .footer a {
    color: #666666;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
  }
  .footer .title {
    margin-bottom: .5rem;
    font-size: 14px;
    color: #ccc;
    border-bottom: 1px solid #333;
  }
  
  @media screen and (max-width: 768px) {
    .footer .col-sm-3 {
      padding-bottom: 2rem;
    }
  }

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 0.7s;
          animation: pulse 0.7s;
  -webkit-box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
          box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--hover);
            box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--hover);
            box-shadow: 0 0 0 0 var(--hover);
  }
}

.inlineimg {
    display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
    justify-content: space-between;
}


.pulse {
  --color: #6eefde;
  --hover: #6eb5ef;
}

button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;

  height: 40px;
  width: 80px;
}

button:hover, button:focus {
  border-color: var(--hover);
  color: black;
}

button {
  background: transparent;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0;
  padding: 0;
}

#im1 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#im2 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#im3 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#im4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

